[Unit]
Description=Jupyterhub
After=syslog.target network.target

[Service]
User=azureuser
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
ExecStart=/home/azureuser/.local/bin/jupyterhub -f /etc/jupyterhub/jupyterhub_config.py
WorkingDirectory=/home/azureuser/

[Install]
WantedBy=multi-user.target
